<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knox.template.mapper.TbItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiny.commons.domain.TbItemEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="brand_id" property="brandId"/>
    </resultMap>
</mapper>
